.header{
    background-color: #ffffff;
    height: 100px;
    margin-top: -8px;
    border: 2px solid #cccccc;
}

.yourName{
    width: 960px;
    margin: 0 auto;
    color: white;
}

h1, h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.teal{
    width: 200px;
    background-color: #4aaaa5;
    margin-left: 0;
    height: 100px;
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #777777;
}

p{
    line-height: 2;
    margin-top: -9px;
}

.links{
    color: #777777;
    font-size: 18px;
}

.pLinks{
    float: right;
    margin-top: -81px;
}

body{
    background-image: url(../images/interlaced.png); /* Background pattern from Toptal Subtle Patterns */
    margin: 0 0 50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.portfolio{
    width: 910px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #777777;
    margin-top: 40px;
    padding: 15px 25px 15px 25px;
    border: 1px solid #cccccc;
}

#portfolioTeal{
    color: #4aaaa5;
}

.grayLine{
    background-color: lightgray;
    width: 900px;
    height: 2px;
    margin-left: 0;
    margin-bottom: 30px;
}

.projectImage{
    height: 175px;
    width: 225px;
}

.projectLabel{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 225px;
    position: relative;
    padding: 0;
    margin: 0;
    top: -65px;
}

.trivia{
    position: relative;
}

.rpg{
    position: absolute;
    top: 28.10%;
    left: 44%;
}

.trivia{
    position: absolute;
    top: 262px;
    left: 1180px;
}

.rutgers{
    position: relative;
}

.rps{
    position: absolute;
    top: 493px;
    left: 845px;
}

.footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

html{
    position: relative;
    min-height: 100%;
}